<div class="container">
    <div class="row">
        <div class="text-center">
            <h2 class="text-primary mt-5">
                Congratulations! We have received your order successfully! 
            </h2>
            <h5 class="text-muted">We will send your products as soon as possible...</h5>
            <h6 class="text-muted">Please contact us @xxx-xxx-xxxx or email us at xxxxx@xxxx.com for any further enquiry regarding your purchase!</h6>
            <p class="text-success">An E-mail will be sent to you when your package is ready to ship! Thank you!</p>
            <a class="btn btn-outline-secondary" routerLink="/">
                <i class="fa fa-arrow-left mr-2"></i>
                Shop More...
            </a>
        </div>
    </div>
</div>
