
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Province Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let province of provinces">
        <td> {{province.id}} </td>
        <td> {{province.provincename}}</td>
        <td>
            
            <i class="fa fa-edit text-primary pr-4 navLinker" (click)="update(province)" ></i>
            
            <i class="fa fa-trash text-danger navLinker" (click)="remove(province.id)" ></i>
        </td>
      </tr>
      
    </tbody>
  </table>
