<div class="container">
    <div class="pt-3 text-primary text-left">
        <h3>Shopping Cart</h3>
        <a class="text-success navlinker" routerLink="/">
            <i class="fa fa-arrow-left"></i>
            Continue Shopping
        </a>
    </div>
    <div class="row">
        <div class="col col-sm-8">
            <app-cart-list ></app-cart-list>
        </div>
        <div class="col col-sm-4">
            <app-cart-summary></app-cart-summary>
        </div>
        
    </div>
</div>
